
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Co-Pilot: Sign Up/Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.css" rel="stylesheet">
    <link href="css/account.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img responsive" src="img/copilot_logo_sm.png" alt="copilot_logo">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Mentors</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>
                        <div class="col-user-panel">
                            <button type="button" class="btn btn-default btn-circle"><span class="glyphicon glyphicon-home"></span></button>
                            <button type="button" class="btn btn-default btn-circle"><span class="glyphicon glyphicon-plane"></span></button>
                            <button type="button" class="btn btn-default btn-circle"><span class="glyphicon glyphicon-envelope"></span></button>
                            <button type="button" class="btn btn-default btn-circle"><span class="glyphicon glyphicon-wrench"></span></button>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="header-mentors">

        <div class="headline2">
            <div class="container">
                <p>Inbox</p>
            </div>
        </div>

    </div>

    <div class="container">

    <div class="row">

        <h2>Messages</h2>
        <div class="col-inbox-list">
            <div class="col-inbox-list-item">
                <div class="col-inbox-list-item-name">
                    <img class="img-circle img-responsive img-avatar" src="img/student_b.jpg" alt="student_b">
                    <h4>Mentor Name</h4>
                </div>
            </div>
            <div class="col-inbox-list-item">
                <div class="col-inbox-list-item-name">
                    <img class="img-circle img-responsive img-avatar" src="img/student_b.jpg" alt="student_b">
                    <h4>Mentor Name</h4>
                </div>
            </div>
            <div class="col-inbox-list-item"></div>
            <div class="col-inbox-list-item"></div>
        </div>

        <div class="col-inbox-message-display">
            <div class="col-inbox-message-contents">
                <h4>Contents here</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            </div>

          <div class="col-inbox-message-contents">
            <h4>Contents here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            </div>

          <div class="col-inbox-message-contents">
            <h4>Contents here</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        </div>

        </div>

        <div class="col-inbox-message-send">
            <textarea class="form-control" rows="5"></textarea>
        </div>

    </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>