
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Co-Pilot: Sign Up/Login</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/login.css" rel="stylesheet">
    <link href="css/one-page-wonder.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img responsive" src="img/copilot_logo_sm.png" alt="copilot_logo">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#mentors">Mentors</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><button type="button" class="btn btn-login btn-primary btn-lg"> SIGN UP/LOGIN</button></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="header-mentors">
        <div class="headline2">
            <div class="container">
                <p>Find a mentor to co-pilot college admissions</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h5>Student Sign Up/Login</h5>
                <div class="border-row"></div>
                    <div class="col-md-5">
                        <form class="form-signin" role="form">
                            <p>Create a free account:</p>
                                <input type="firstname" class="form-control" placeholder="First Name" required autofocus>
                                <input type="lastname" class="form-control" placeholder="Last Name" required autofocus>
                                <input type="email" class="form-control" placeholder="Email address" required autofocus>
                                <input type="password" class="form-control" placeholder="Password" required>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>

                    <div class="col-md-5">
                        <form class="form-signin" role="form">
                            <p>Have an account? Login.</p>
                            <input type="email" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me </input> 
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
            <h5>Mentor Login</h5>
                <div class="border-row"></div>

                    <div class="col-mentor-login">
                        <form class="form-signin" role="form">
                            <p>Login:</p>
                            <input type="email" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me"> Remember me </input> 
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
        </div> 
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>