 <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("copilot_logo_sm.png", class: "img responsive", alt: "copilot_logo"), "http://www.google.com/" %>
                <!--<img class="img responsive" src="/img/copilot_logo_sm.png" alt="copilot_logo"/>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#mentors">Mentors</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><button type="button" class="btn btn-login btn-primary btn-lg"> SIGN UP/LOGIN</button></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>